<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>Alert</title>
    </head>
    <body>
        <script>
            let msg = "{{msg}}";
            let url = "{{url}}";

            if (msg != '') {
                alert(msg);
            }

            if (url != '') {
                if (url == 'history_back') {
                    history.back();
                } else {
                    location.href = url;
                }   
            }
        </script>
    </body>
</html>